<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="$safeprojectname$.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <$safeprojectname$.Properties.Settings>
      <setting name="ContractTrackingManagement_Infrastructure_ReportExecutionService_ReportExecutionService" serializeAs="String">
        <value>http://lfkbwtlabsql01:80/ReportServer/ReportExecution2005.asmx</value>
      </setting>
      <setting name="ContractTrackingManagement_Infrastructure_DocumentManagementService_Service1" serializeAs="String">
        <value>http://oitappsdev02/dms_ws/Service1.asmx</value>
      </setting>
    </$safeprojectname$.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TrackerEnabledDbContext.Common" publicKeyToken="4f92af0b908c4a0a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.2.0" newVersion="3.5.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TrackerEnabledDbContext" publicKeyToken="4f92af0b908c4a0a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.2.0" newVersion="3.5.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
