<div class="row">
    <div class="col-lg-10">
        <h1 class="page-header">Payments</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <dep-contract-details data-ng-model="vm.contract" is-open="vm.openContractDetails" data-ng-click="vm.expandContractDetails()"></dep-contract-details>
    </div>
</div>
<div class="row" style="padding-bottom: 14px;">
    <div class="col-lg-2">
        <a data-ng-href="{{ vm.disableAll ? '' : '#/' + vm.contract.section.name + '/contracts/' + vm.contract.contractNumber + '/add-payment' }}" class="btn btn-default" data-ng-disabled="vm.disableAll"
           data-ng-if="vm.contract.section.name"
           access="admin, sectionChief, areaEngineer" access-permission-type="AtLeastOne" access-hidden="true">Add Payment</a>
    </div>
    <div class="col-lg-2" data-ng-if="vm.contract.contractTypeId !== 4">
        <a data-ng-href="{{ vm.disableAll ? '' : '#/' + vm.contract.section.name + '/contracts/' + vm.contract.contractNumber + '/add-deduction' }}" class="btn btn-default" data-ng-disabled="vm.disableAll"
           data-ng-if="vm.contract.section.name"
           access="admin, sectionChief, areaEngineer" access-permission-type="AtLeastOne" access-hidden="true">Add Deduction</a>
    </div>
</div>
<!--If this is a blanket order, contractTypeId === 4, then use the receiving report directive payments view.-->
<div class="row" data-ng-if="vm.contract.contractTypeId === 4">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <label class="control-label">{{ vm.totalItems }} Total</label>
            </div>
        </div>
        <div class="row col-lg-12">
            <table class="table table-striped">
                <tr>
                    <th>
                        <a data-ng-click="vm.setSortOrder('paymentNumber')">Payment</a>
                    </th>
                    <th>
                        <a data-ng-click="vm.setSortOrder('paymentIn')">In</a>
                    </th>
                    <th>
                        <a data-ng-click="vm.setSortOrder('paymentOut')">Out</a>
                    </th>
                </tr>
                <tr ng-repeat="payment in vm.entities">
                    <td>
                        <a data-ng-if="vm.contract.section.name" href="#/{{ vm.contract.section.name }}/contracts/{{ vm.contract.contractNumber }}/payments/{{ payment.paymentId }}">
                            {{ payment.paymentNumber }}
                        </a>
                    </td>
                    <td>
                        {{ payment.paymentIn | date:'M/d/yyyy'}}
                    </td>
                    <td>
                        {{ payment.paymentOut | date:'M/d/yyyy'}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row" data-ng-if="vm.contract.contractTypeId !== 4">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-12">
                <label class="control-label">{{ vm.totalItems }} Total</label>
            </div>
        </div>
        <div class="row col-lg-12">
            <table class="table table-striped">
                <tr>
                    <th>
                        <a data-ng-click="vm.setSortOrder('paymentNumber')">Payment</a>
                    </th>
                    <th>
                        <a data-ng-click="vm.setSortOrder('paymentType/name')">Type</a>
                    </th>
                    <th>
                        <a data-ng-click="vm.setSortOrder('paymentIn')" >In</a>
                    </th>
                    <th>
                        <a data-ng-click="vm.setSortOrder('paymentOut')">Out</a>
                    </th>
                </tr>
                <tr ng-repeat="payment in vm.entities">
                    <td>
                        <a data-ng-if="vm.contract.section.name" href="#/{{ vm.contract.section.name }}/contracts/{{ vm.contract.contractNumber }}/payments/{{ payment.paymentId }}">
                            {{ payment.paymentNumber }}
                        </a>
                    </td>
                    <td>
                        {{ payment.paymentType.name }}
                    </td>
                    <td>
                        {{ payment.paymentIn | date:'M/d/yyyy'}}
                    </td>
                    <td>
                        {{ payment.paymentOut | date:'M/d/yyyy'}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-lg-6" data-ng-controller="DeductionsController as deductionsVm">
        <div class="row">
            <div class="col-lg-12">
                <label class="control-label">{{ deductionsVm.totalItems }} Total</label>
            </div>
        </div>
        <div class="row col-lg-12">
            <table class="table table-striped">
                <tr>
                    <th>
                        <a data-ng-click="deductionsVm.setSortOrder('deductionType.name')" >Type</a>
                    </th>
                    <th>
                        <a data-ng-click="deductionsVm.setSortOrder('deduction.payment.paymentNumber')">Applied To</a>
                    </th>
                    <th>
                        <a data-ng-click="deductionsVm.setSortOrder('date')">Date</a>
                    </th>
                    <th>
                        <a data-ng-click="deductionsVm.setSortOrder('amount')">Amount</a>
                    </th>
                    <th access="admin, sectionChief" access-permission-type="AtLeastOne" access-hidden="true">
                        Remove
                    </th>
                </tr>
                <tr ng-repeat="deduction in deductionsVm.entities">
                    <td>
                        <a data-ng-if="vm.contract.section.name" href="#/{{ vm.contract.section.name }}/contracts/{{ vm.contract.contractNumber }}/deductions/{{ deduction.deductionId }}">{{ deduction.deductionType.name }} </a>
                    </td>
                    <td>
                        {{ deduction.payment.paymentNumber }}
                    </td>
                    <td>
                        {{ deduction.date | date:'M/d/yyyy' }}
                    </td>
                    <td>
                        {{ deduction.amount | currency }}
                    </td>
                    <td access="admin, sectionChief" access-permission-type="AtLeastOne" access-hidden="true">
                        <a ng-really-click="deductionsVm.softDeleteEntity(deduction.deductionId, 'deductions')" 
                           ng-really-message='Are you sure you want to remove this deduction?'
                           class="btn btn-default" 
                           data-ng-disabled="vm.disableAll">Remove</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>