<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://[Web Server]/[WebAPI App Name]</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>[Web Server]</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/[WebAPI App Name]</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>ds\theox</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="elmah-sqlserver" Order="2" Enabled="False">
          <Destination Path="Data Source=[Database Server Name];Initial Catalog=FileTrackingManagementDbProd;Persist Security Info=True;User ID=[User ID or Password];Password=[User ID or Password]" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=[Database Server Name];Initial Catalog=[Database Name];User ID=[User ID or Password];Password=[User ID or Password]" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\elmah-sqlserver_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=[Database Server Name];User ID=[User ID or Password];Password=[User ID or Password];Initial Catalog=[Database Name];" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EfDataDbContext" Order="3" Enabled="False">
          <Destination Path="Data Source=[Database Server Name];Initial Catalog=FileTrackingManagementDbProd;Persist Security Info=True;User ID=[User ID or Password];Password=[User ID or Password]" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=[Database Server Name];Initial Catalog=[Database Name];Persist Security Info=True;User ID=[User ID or Password];Password=[User ID or Password];Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EfDataDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=[Database Server Name];initial catalog=[Database Name];persist security info=True;user id=[User ID or Password];password=[User ID or Password];MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="elmah-sqlserver-Web.config Connection String">
      <ParameterValue>Data Source=[Database Server Name];Initial Catalog=FileTrackingManagementDbProd;Persist Security Info=True;User ID=[User ID or Password];Password=[User ID or Password]</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EfDataDbContext-Web.config Connection String">
      <ParameterValue>data source=[Database Server Name];initial catalog=FileTrackingManagementDbProd;persist security info=True;user id=[User ID or Password];password=[User ID or Password];MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>