<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://lfkqbwtweb02/otps-api-uat</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>lfkqbwtweb02</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/otps-api-uat</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>ds\theox</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EfDataDbContext" Order="3" Enabled="False">
          <Destination Path="Data Source=lfkbwtstgsql01;Initial Catalog=OTPSRebuildDbUat;Persist Security Info=True;User ID=layne;Password=layne" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=lfkbwtstgsql01;Initial Catalog=OTPSRebuildDbUat;Persist Security Info=True;User ID=layne;Password=layne;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EfDataDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=lfkbwtstgsql01;initial catalog=OTPSRebuildDbUat;persist security info=True;user id=layne;password=layne;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="elmah-sqlserver-Web.config Connection String">
      <ParameterValue>Data Source=[Database Server Name];Initial Catalog=FileTrackingManagementDbUat;Persist Security Info=True;User ID=[User ID or Password];Password=[User ID or Password]</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EfDataDbContext-Web.config Connection String">
      <ParameterValue>data source=lfkbwtstgsql01;initial catalog=OTPSRebuildDbUat;persist security info=True;user id=layne;password=layne;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>