<div id="page" class="aside_right aside_wide with_tabs">
    <div class="responsive_wrap tabs-wrap float_fix">
        <ul class="tab_menu">
            <li class=" current menu-item first">
                <a href="/my">
                    <span class="link_text">Dashboard</span>

                </a>
            </li>
            <li class=" menu-item">
                <a href="/user/txavier/collection">
                    <span class="link_text">Collection</span>

                </a>
            </li>
            <li class=" menu-item">
                <a href="/mywantlist">
                    <span class="link_text">Wantlist</span>

                </a>
            </li>
            <li class=" menu-item">
                <a href="/user/txavier/lists">
                    <span class="link_text">Lists</span>

                </a>
            </li>
            <li class=" menu-item">
                <a href="/submissions">
                    <span class="link_text">Submissions</span>

                </a>
            </li>
            <li class=" menu-item">
                <a href="/users/drafts">
                    <span class="link_text">Drafts</span>

                </a>
            </li>
            <li class=" menu-item">
                <a href="/users/export">
                    <span class="link_text">Export</span>

                </a>
            </li>
            <li class="last menu-item fright">
                <a href="/settings/user">
                    <span class="link_text">Settings</span>

                </a>
            </li>

        </ul>

    </div>



    <br class="hide_mobile">

    <div id="page_content" role="main">

        <ul class="module_blocks left list_no_style ui-sortable" data-modules="[&quot;getstarted&quot;]" data-max-lists="10">
            <li data-module="getstarted" class="dashboard_module table_body" id="dashboard_getstarted">
                <div class="header">
                    <span class="dashboard_title">Get Started</span>
                    <a class="remove_module" title="Remove this" id="remove_getstarted">
                        <i class="icon icon-times"></i>
                    </a>
                </div>
                <div class="gs_module">
                    <div class="gs_module_title">
                        <h1>Welcome to Discogs!</h1>
                    </div>
                    <div class="gs_module_content">
                        <h3>What can I do on Discogs?</h3>
                        <ul>
                            <li class="section_as_link">
                                <h3><a class="section_link button" href="/mycollection"><i class="icon icon-collection"></i> Collection</a></h3>
                                <p>List your personal collection</p>
                            </li>
                            <li class="section_as_link">
                                <h3><a class="section_link button" href="/mywantlist"><i class="icon icon-wantlist"></i> Wantlist</a></h3>
                                <p>Add releases you'd like to own to your wantlist</p>
                            </li>
                            <li class="section_as_link">
                                <h3><a class="section_link button button_green" href="/release/add"><i class="icon icon-plus"></i> Add a Release</a></h3>
                                <p>Submit a release from your collection that can't be found in the Database.</p>
                            </li>
                            <li class="section_as_link">
                                <h3><a class="section_link button button_blue" href="/sell/list"><i class="icon icon-shopping-cart"></i> Buy and Sell</a></h3>
                                <p>Buy and sell items in the Discogs marketplace.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="dashboard_addmodules"><h3 class="label"><i class="icon icon-plus"></i> Add a module</h3></li>
        </ul>

        <script type="text/template" id="module_error_tpl">
            <div class="header">
                <span class="dashboard_title"><%= title %></span>
                <a class="remove_module" title="Remove this"><i class="icon icon-times"></i></a>
            </div>
            <table class="broadcast_table table_block"><tr><td><%= message %></td></tr></table>
        </script>
    </div>
    <div id="page_aside" class="" role="complementary">


        <div class="hide_mobile">
        </div>

        <div class="hide_mobile">
        </div>

        <div class="hide_mobile">
        </div>

        <div class="hide_mobile">
        </div>

        <div class="hide_mobile">
            <div class="alert-message alert-message-news alert-message-closable alert-message-broadcast" id="alert-message-5" data-alert-message-closable="true" data-alert-message-auto-close="false" data-alert-message-cookie="announcement_5" data-alert-message-show-until="2016-09-30 00:00:00">
                <div class="alert-message-content float_fix alert-message-full-width">
                    <i class="icon icon-newspaper-o alert-message-icon"></i>
                    <a class="alert-message-close-icon"><i class="icon icon-times"></i></a>                <span class="alert-message-text">
                        <strong class="announcement-title">
                            Contributors: Join the September Pledge Initiative!
                        </strong><br>
                        Contribute to the Database, Climb the Leaderboard, and Win Some Swag! <a href="http://www.discogs.com/stats/drive?utm_source=dashboard&amp;utm_medium=AnnouncementWidget&amp;utm_content=check%20it%20out&amp;utm_campaign=SPIN"> Check it out.</a>
                    </span>
                </div>
            </div>
        </div>

        <div class="hide_mobile">
        </div>

        <div class="hide_mobile">
        </div>

        <div class="hide_mobile">
        </div>

        <div class="hide_mobile">
        </div>

        <div class="hide_mobile">
        </div>

        <div class="hide_mobile">
        </div>

        <div class="hide_mobile">
        </div>

        <div class="hide_mobile">
        </div>

        <div class="hide_mobile">
        </div>

        <div class="hide_mobile">
            <div class="alert-message alert-message-collection alert-message-closable alert-message-broadcast" id="alert-message-add_to_collection_tutorial" data-alert-message-closable="true" data-alert-message-auto-close="false" data-alert-message-cookie="announcement_add_to_collection_tutorial" style="display: none;">
                <div class="alert-message-content float_fix alert-message-full-width">
                    <i class="icon icon-collection alert-message-icon"></i>
                    <a class="alert-message-close-icon"><i class="icon icon-times"></i></a>                <span class="alert-message-text">
                        <strong class="announcement-title">
                            You haven't added anything to your Collection yet!
                        </strong><br>
                        Your Collection is currently empty. You can catalog your Collection by adding Releases that you own. You'll be able to learn important statistics about your Collection, including estimated value.<br><button class="button button_blue">Learn How</button>
                    </span>
                </div>
            </div>
        </div>


        <ul class="module_blocks right list_no_style ui-sortable" data-modules="[]" data-max-lists="10">
            <li class="dashboard_addmodules"><h3 class="label"><i class="icon icon-plus"></i> Add a module</h3></li>
        </ul>
    </div>

</div>