<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an atrribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <MvcReportViewer reportServerUrl="http://lfkbwtlabsql01/ReportServer" 
                   username="" password="" 
                   aspxViewer="~/MvcReportViewer.aspx" 
                   aspxViewerJavaScript="~/Scripts/MvcReportViewer.js" 
                   errorPage="~/MvcReportViewerErrorPage.html" 
                   showErrorPage="false" 
                   isAzureSSRS="false" 
                   encryptParameters="true" 
                   localDataSourceProvider="MvcReportViewer.SessionLocalDataSourceProvider, MvcReportViewer"
                   xdt:Transform="SetAttributes" xdt:Locator="Match(aspxViewer)"/>
  <appSettings>
    <add key="reportServer" value="lfkbwtlabsql01" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="reportPath" value="/CTMS/Reports/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DocumentManagementServiceFolderName" value="BWT-ContractTrackingManagementProd" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="ContractTrackingManagementDbContext" connectionString="data source=[Database Server];initial catalog=[Database Name];persist security info=True;user id=[User ID];password=[Password];MultipleActiveResultSets=True;App=EntityFramework" 
         providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="elmah-sqlserver" connectionString="Data Source=[Database Server];User ID=[User ID];Password=[Password];Initial Catalog=[Database Name];" 
         providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <applicationSettings>
    <$safeprojectname$.Infrastructure.Properties.Settings>
      <setting name="ContractTrackingManagement_Infrastructure_DocumentManagementService_Service1" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>http://[DMS Server Name]/dms_ws/Service1.asmx</value>
      </setting>
    </$safeprojectname$.Infrastructure.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <client>
      <endpoint address="http://[DMS Server Name]/dms_ws/Service1.asmx"
        binding="basicHttpBinding" bindingConfiguration="Service1Soap"
        contract="DocumentManagementServiceReference.Service1Soap" name="Service1Soap"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </client>
  </system.serviceModel>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
