body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.highlightRed {
    color: #f06560;
}

/*Begin calendar date picker section*/

.dateTextInput {
    height: 54px;
}

.dateCalendarButton {
    height: 54px;
}

/*End calendar date picker section*/


.invalidClass {
    border: 1px solid #AF2B0D;
}

/* LINE ICONS CONFIGURATION */


/*Begin FileUpload Directive Section*/

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 105px;
    text-align: center;
    padding-top: 25px;
    /*margin: 10px;*/
}
.dragover {
    border: 5px dashed blue;
}

/*End FileUpload Directive Section*/


/* Begin Application Specific Styling for Contract Detail and Work Order Detail Button Boxes. */

.box1 {
    background-color: #fff7e5;
}

.box1-disabled {
    color:#777;
    background-color: #f5f5f5;
}

.box1-blocked-out {
    background-color: #777;
    color: #777;
}

/* End Application Specific Styling for Contract Detail and Work Order Detail Button Boxes. */

/* This controls the log panel on the dashboard. */
.userActionLog {
    position: relative;
    display: block;
    padding: 16px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

/* This controls the image on the navbar. */
.navbar-img {
    height: 50px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}